---
// this is your frontmatter
// here you can only write pure js, no jsx expressions
// ❌ const paragraph = <p></p>
// you can use shit from here in your component's content

import { Picture } from "astro:assets";
import puzzlePiece from "@fluentui/svg-icons/icons/puzzle_piece_16_filled.svg?raw"
import Page from "../layouts/Page.astro";
import * as simple from "simple-icons";
import pfp from "../images/GJfn6VyacAAyE1M.png";
import SocialList from "../components/SocialList.astro"
import Buttons from "../components/buttons/Buttons.astro"

---


<style lang="scss" is:global>
    main {
        display: flex;
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    address {
        margin-top: 15px;
    }

    .mainContent {
        flex: 1 1 400px;
    }
</style>

<Page title="extra page" description="">

    <div class="mainContent">
        <h1><em>extra</em></h1>
        <p>idk lol ill add something here eventually</p>
        <Picture 
        id="pfp"
        src={pfp}
        formats={['avif','webp']}
        alt="balls"
        title="he is employed"
    />
    </div>
    

</Page>