---
// this is your frontmatter
// here you can only write pure js, no jsx expressions
// ❌ const paragraph = <p></p>
// you can use shit from here in your component's content

import { Picture } from "astro:assets";
import puzzlePiece from "@fluentui/svg-icons/icons/puzzle_piece_16_filled.svg?raw"
import Page from "../layouts/Page.astro";
import * as simple from "simple-icons";
import pfp from "../images/pfp.png";
import SocialList from "../components/SocialList.astro"
import Buttons from "../components/buttons/Buttons.astro"

---


<style lang="scss" is:global>
    main {
        display: flex;
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pfpContainer {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            flex: 0 0;
        }

        & > address {
            width: 100%;
            //max-width: 350px;
        }

        #pfp {
            --pfp-size: 200px;

            width: var(--pfp-size);
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: var(--pfp-size);
            border: 5px solid var(--acc);
            box-shadow: 0 0 10px var(--acc); // glow!!! :3
        }

        address {
            margin-top: 15px;
        }
    }

    .mainContent {
        flex: 1 1 400px;
    }
</style>

<Page title="micro's setup and hardware!!" description="">

    <div class="mainContent">
        <h1><em>setup/hardware</em></h1>
        <p>a lil list of all of my computers and stuff i use :3</p>
        <h2>desktop</h2>
        <!-- ul is the Unordered List element -->
        <!-- ol is the Ordered List element -->
        <!-- what you're looking for is li, the List Item element -->
        <!-- if you prefer you can also use the </li> end tags -->
        <!-- but they're not required so -->
        <!-- vscode isn't used to them so youll get weird automatic indentation -->
        <!-- cause people rarely write without the end tags -->
        <!-- even if it's valid syntax -->
        <ul>
            <li>os: Windows 10 IoT Enterprise LTSC</li>
            <li>mobo: Gigabyte Z390 AORUS PRO</li>
            <li>cpu: Intel Core i7-9700K</li>
            <li>gpu: NVIDIA GeForce RTX 3060</li>
            <li>ram: 32 GB</li>
        </ul>
        <h2>laptop(s)</h2>
        <p>at the moment, i don't have a main laptop i use but ill still list them here</p>
        <h3>lenovo yoga 710-15IKB</h3>
        <ul>
            <li>os: Arch Linux x86_64</li>
            <li>mobo: 80V5 Levono YOGA 710-15IKB</li>
            <li>cpu: Intel Core i5-7200U</li>
            <li>gpu: Intel HD Graphics 620</li>
            <li>ram: 8 GB</li>
        </ul>
        <h3>dell inspirion n5010</h3>
        <ul>
            <li>os: Windows 7 Ultimate</li>
            <li>mobo: Intel HM57 Express</li>
            <li>cpu: Intel Core i3-370M</li>
            <li>gpu: AMD Radeon HD 550v</li>
            <li>ram: 4 GB</li>
        </ul>
        <h2>other devices</h2>
        <ul>
            <li>iPhone 13</li>
            <li>iPad Pro (12.9-inch) (3rd gen)</li>
            <li>Lenovo IdeaPad Slim 3 Chromebook</li>
        </ul>

    </div>

</Page>